* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

.max-conteiner {
  background-color: hsl(225, 100%, 94%);
  height: 100vh;
  display: flex;
  align-items: center;
}

@media (min-width: 375px) {
  .max-conteiner {
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size:contain;
    /* background-position: center; */
  }
}

.card-conteiner {
  width: 330px;
  display: flex;
  flex-direction: column;  
  margin: 0 auto; /* como se ubica en relacion al padre */
  background-color: white;
  border-radius: 15px;
  align-items: center;
}

.imagenPrincipal {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}

.text-conteiner {
  /* border: solid 3px; */
  text-align: center;
  padding-left: 42px;
  padding-right: 42px;
  margin-bottom: 20px;
}

.text-conteiner > p {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  line-height: 25px;
}
.pago-conteiner {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  width: 270px;
  padding: 0px 15px;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 20px;
  font-size: small;
  /* border: solid 1px; */
}
.annual-plan {
  /* border: solid 1px; */
  width: 80%;
  padding-left: 5px;
  /* height: 50px; */
  line-height: 8px;
}
.botones {
    width: 270px;
    margin-bottom: 20px;
}

.boton{
  transition-duration: 0.4s;

  width: 100%;
  color: rgb(145, 70,255);
  font-family: "Red Hat Display", sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.boton:hover{
    width: 100%;
    background-color: rgb(145, 70,255);
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}