* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
}

.max-conteiner {
  background-color: hsl(225, 100%, 94%);
  height: 100vh;
  display: flex;
  align-items: center;
}

@media(min-width:375px){
    .max-conteiner{
        background-image: url("./images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:95%
    }
}

.card-conteiner {
  width: 330px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  align-items: center;
}

.imagenPrincipal {
  border-radius: 15px 15px 0px 0px;
  width: 330px;
}

.text-conteiner{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.text-conteiner > p {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    line-height: 25px;
    
}
.pago-conteiner{
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  width: 270px;
  padding: 0px 15px;
  border-radius: 15px;
  align-items: center;
}
.annual-plan{
  /* border: solid 1px; */
  /* height: 50px; */
  line-height:8px;
  }
.botones{
 border-radius: 5px;
 width: 100%;


}
